.form__edit__item__el-heading{
    margin: 54px auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media (max-width:320px){
    .form__edit__item__el-heading{
        margin-top: 75px;
    }   
}