.profile__button-edit{
    background-size: 10px;
    background-color: transparent;
    background-image: url("../../../images/Vector_edit.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px; 
    height: 24px;
    margin: 15px 0 0 18px;
    opacity: 1;
    border: 1px solid rgba(255,255,255,1);
}

.profile__button-edit:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width:581px){
    .profile__button-edit{
        background-size: 7.5px 7.5px;
        width:18px;
        height:18px;
        margin-top:8px;
        margin-left: 10px;
    }    
}
