.popup__input-error{
    color: red;
    width:83.2558%;
    margin-left: 36px;
    display: block;
    font-size: 12px;
}
@media (max-width:600px){
    .popup__input-error{
        width: 84.39716%;
    }
}