.profile__button_edit{
    width: 24px;
    height: 24px;
    margin-top: 37px;
    opacity: 1;
}

.profile__button_edit:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media (max-width:320px){
    .profile__button_edit{
        width:18px;
        height:18px;
        margin-top:8px;
    }    
}
