.profile{
    max-width: 880px;
    margin: 40px auto 0;
    display: flex;
}

@media(max-width:900px){
    .profile{
        max-width:581px;
    }    
}

@media (max-width:600px){
    .profile{
        max-width: 282px;
        margin-top:42px;
        flex-direction: column;
    }
}