.element__title{
    width:241px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 25px 21px;
}

@media (max-width:581px){
    .element__title{
        width: 87.234%;
    }
    
}