.profile__info-title{
    margin:0;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 294px;
}

@media (max-width:900px){
    .profile__info-title{
        max-width: 198px;
    }
    
}

@media (max-width:600px){
    .profile__info-title{
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        max-width: 254px;
    }
    
}