.profile__info-subtitle{
    margin: 7px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@media (max-width:600px){
    .profile__info-subtitle{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }  
}