.profile__container{
    display: flex;
    max-width: 100%;
    align-items: center;
}

@media (max-width:581px){
    .profile__container{
        flex-direction: column;
        align-items: center;
    }
}