.form__edit__item{
    width:358px;
    border: 0;
    border-bottom: 1px solid #000;
    outline: 0;  
    display: block;
    padding: 0 0 13px 0;
}

@media (max-width:320px){
    .form__edit__item{
        width: 238px;
    }
    
}