.popup__form-edit{
    max-width:430px;
    background-color: hsl(0, 0%, 100%);
    color: #000000;
    border-radius: 10px;
}

@media (max-width:320px){
    .popup__form-edit{
        max-width:282px;
    }
    
}