.profile__info{
    max-width:336px;
    margin:22px 0 0 30px;
}

@media (max-width:900px){
    .profile__info{
        max-width: 240px;
    }  
}

@media (max-width:600px){
    .profile__info{
        margin-top:26px;
        max-width: 282px;
        margin-left: 0;
    }  
}